// Все элементы формы

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='password'],
textarea,
select {
    font-family: inherit;
    width: 100%;
    max-width: 100%;
    background: none;
    outline: 0 none;
    margin-top: 20px;
    margin-bottom: 8px;
}
